
<!--
  Location: android/app/src/main/AndroidManifest.xml
  Security Profile: 100% Air-Gapped Local-First (Zero Network Permissions)
  Optimized for: Samsung Galaxy S25 (Android 15 / One UI 7)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 
      AIR-GAP AUDIT:
      android.permission.INTERNET is completely OMITTED.
      Hive local database and FilePicker strictly operate on the device local storage.
    -->

    <application
        android:label="Notion Habits"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:allowBackup="false">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
